.mainWrap {
	position: relative;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	& .mainMenu {
		display: flex;
		top: 0;
		left: 0;
		z-index: 15;
		padding: 56px 20px;
		color: #00C34E;

		& ts-button {
			color: #000000;
		}
	}

	& .mainMenuText {
		font-size: 22px;
	}

	& .stage {
		background: #444;
		height: 100%;
		position: relative;
		top: auto;
		left: auto;
		overflow: hidden;
	}

	& .box {
		width: 300px;
	}

	& .animationMenu {
		position: absolute;
		left: 30px;
		bottom: 60px;
		min-width: 100px;
		min-height: 100px;
		background-color: rgba(50, 250, 0, 0.4);
	}
}
