.stage {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #00605D;
}

.svgStage {
	width: 100%;
	height: 100%;
}

.rotate , .translate, .scale , path {
	transform-origin: center;
	transform-box: fill-box;
}

.devGrid {
	background-image: url('/assets/imgs/grid.png');
	background-position: center;
	background-size: 10%;
}
