ts-settings-wrap {
	position: relative;
}

ts-settings {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

ts-settings-header {
	font-size: 22px;
}

ts-settings-subheader {
	font-size: 18px;
}
