.terminal {
	border: 1px solid red;
	width: 100px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 200;
}

.terminal .output {}

.terminal .input {
	color: #ddd;
	background-color: transparent;
}
