.mainWrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.mainMenu {
  padding: 56px 20px;
  height: 170px;
  width: 100%;
}

.mainMenuText {
  font-size: 22px;
}

div.stage {
  background: #444;
  height: calc(100% - 170px);
  position: relative;
  top: auto;
  left: auto;
}

.box {
  width: 300px;
}
