ts-mainmenu-wrap {
	position: relative;
	height: 100%;

	& ts-mainmenu-inner {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 15;
		color: var(--mainmenu_font_color);
		background: var(--mainmenu_background);
		padding: 55px;
		width: 100%;
		flex-direction: column;

		& ts-button {
			color: var(--mainmenu_button_font_color);
			place-content: space-between;
		}
	}

	& ts-button {
		width: fit-content;
	}

	& ts-mainmenu-header {
		font-size: 22px;
		margin-right: 6px;
	}

	& .stage {
		background-color: var(--mainmenu_stage_background);
		height: 100%;
		position: relative;
		top: auto;
		left: auto;
		overflow: hidden;
	}
}

ts-mainmenu-devui {
	z-index: var(--dev-zindex);
	position: absolute;
	left: 30px;
	bottom: 60px;
	min-width: 100px;
	min-height: 100px;
	background-color: var(--mainmenu_devui_background);
}
