ts-settings-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	background: var(--settings_background);
}

ts-settings-header {
	padding: 56px 20px;
	height: 100%;
	width: 100%;
	font-size: 22px;
}

ts-settings-subheader {
	font-size: 18px;
}
