.setttingsrap {
    position: relative;
}

.settings {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.settingsText {
    font-size: 22px;
}

.stage{
    background: #444;
}
