ts-checkbox {
	display: flex;
	width: 16px;
	height: 16px;
	border: 1px solid var(--checkbox_border_color);
	background: var(--checkbox_background);
	align-items: center;

	& ts-img {
		display: none;
		width: 14px;
		height: 14px;
		&.checked {
			display: block;
		}
		
		& path {
			fill: var(--checkbox_check_color);
		}
	}
}
